@page "/user/forgot-password"

<LayoutPageTitle>Forgot your password?</LayoutPageTitle>

<h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-2">
    Forgot your password?
</h2>
<p class="text-sm">If you have forgotten your password, contact the server admin and consult the AliasVault documentation on how to reset your password.</p>
