@page "/Account/ForgotPasswordConfirmation"

<PageTitleLayout>Forgot password confirmation</PageTitleLayout>

<h1>Forgot password confirmation</h1>
<p>
    Please check your email to reset your password.
</p>
