@using AliasVault.ImportExport.Models
@using AliasVault.ImportExport.Importers
@inject NavigationManager NavigationManager
@inject GlobalNotificationService GlobalNotificationService
@inject ILogger<ImportService1Password> Logger

<ImportServiceCard
    ServiceName="1Password"
    Description="Import passwords from your 1Password vault"
    LogoUrl="img/importers/1password.svg"
    ProcessFileCallback="ProcessFile">
    <p class="text-gray-700 dark:text-gray-300 mb-4">In order to import your 1Password vault, you need to export it as a CSV file. You can do this by logging into your 1Password account in the 1Password 8 desktop app (Windows / MacOS / Linux), going to the 'File' menu and selecting 'Export' (to CSV).</p>
    <p class="text-gray-700 dark:text-gray-300 mb-4">Once you have exported the file, you can upload it below.</p>
</ImportServiceCard>

@code {
    private async Task<List<ImportedCredential>> ProcessFile(string fileContents)
    {
        return await OnePasswordImporter.ImportFromCsvAsync(fileContents);
    }
}
