@inject ILogger<ImportServiceAliasVault> Logger
@inject NavigationManager NavigationManager
@inject GlobalNotificationService GlobalNotificationService
@using AliasVault.ImportExport.Models
@using AliasVault.ImportExport.Importers

<ImportServiceCard
    ServiceName="AliasVault"
    Description="Import passwords from another AliasVault instance or manual back-up"
    LogoUrl="img/logo.svg"
    ProcessFileCallback="ProcessFile">
    <p class="text-gray-700 dark:text-gray-300 mb-4">If you have a CSV file back-up of your AliasVault database (from a different AliasVault instance), you can import it here.</p>
</ImportServiceCard>

@code {
    private async Task<List<ImportedCredential>> ProcessFile(string fileContents)
    {
        // TODO: Implement AliasVault import.
        await Task.Delay(50);
        return new List<ImportedCredential>();
    }
}