@inject ILogger<ImportServiceKeePass> Logger
@using AliasVault.ImportExport.Importers

<ImportServiceCard
    ServiceName="KeePass"
    Description="Import passwords from your KeePass vault"
    LogoUrl="img/importers/keepass.svg"
    OnImportComplete="RefreshVault"
    @ref="_importServiceCard">
    <div class="mb-4">
        <p class="mb-4 text-gray-700 dark:text-gray-300">Upload your KeePass export file:</p>
    </div>
    <InputFile OnChange="HandleFileUpload" />
</ImportServiceCard>

@code {
    private ImportServiceCard _importServiceCard = null!;

    private async Task HandleFileUpload(InputFileChangeEventArgs e)
    {
        Logger.LogInformation($"Processing KeePass file: {e.File.Name}");

        try
        {
            await using var stream = e.File.OpenReadStream();
            using var reader = new StreamReader(stream);
            var fileContents = await reader.ReadToEndAsync();

            var importCredentials = await KeePassImporter.ImportFromCsvAsync(fileContents);
            _importServiceCard.SetImportedCredentials(importCredentials);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error processing KeePass CSV file");
            throw;
        }

    }

    private void RefreshVault()
    {
        // Refresh the vault
        // ...
    }
}
