@inherits LayoutComponentBase
@using AliasVault.Admin.Main.Layout
@layout MainLayout

<div class="grid grid-cols-1 px-4 pt-6 xl:grid-cols-3 xl:gap-4 dark:bg-gray-900">
    <div class="mb-4 col-span-full xl:mb-2">
        <GlobalNotificationDisplay />

        <div class="flex items-center justify-between">
            <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">Manage account</h1>
        </div>
        <p>Manage your profile here.</p>
    </div>
</div>

<div class="container mx-auto px-4 py-8">
    <hr class="mb-6 border-t border-gray-300"/>
    <div class="flex flex-col md:flex-row">
        <div class="w-full md:w-1/4 mb-6 md:mb-0">
            <ManageNavMenu/>
        </div>
        <div class="w-full md:w-3/4 md:pl-8">
            @Body
        </div>
    </div>
</div>
