@page "/dbtest"
@inherits PageBase
@inject AliasClientDbService AliasClientDbService

<LayoutPageTitle>Dbtest</LayoutPageTitle>

<div class="grid grid-cols-1 px-4 pt-6 xl:grid-cols-3 xl:gap-4 dark:bg-gray-900">
    <div class="mb-4 col-span-full xl:mb-2">
        <Breadcrumb BreadcrumbItems="BreadcrumbItems" />
        <div class="flex items-center justify-between">
            <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">Dbtest</h1>
            <a href="/add-alias" class="px-4 py-2 text-white bg-primary-600 rounded-lg hover:bg-primary-700 focus:ring-4 focus:ring-primary-300 dark:bg-primary-500 dark:hover:bg-primary-600 dark:focus:ring-primary-800">
                + Add new alias
            </a>
        </div>
        <p>Find all of your aliases below.</p>
    </div>
</div>

@if (IsLoading)
{
    <LoadingIndicator />
}

<button class="w-full px-5 py-3 text-base font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" @onclick="LoadAliasFromDbAsync">Load from db again</button>
<button class="w-full px-5 py-3 text-base font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" @onclick="ExportDbToString">Export DB to string</button>
<button class="w-full px-5 py-3 text-base font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" @onclick="LoadDbFromString">Load from string</button>
<button class="w-full px-5 py-3 text-base font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" @onclick="SaveDb">SaveChanges</button>

<div class="grid gap-4 px-4 mb-4 md:grid-cols-4 xl:grid-cols-6">
    @foreach (var password in Passwords)
    {
        <div>
            <p>@password.CreatedAt</p>
            <p>@password.Value</p>
        </div>
    }
</div>


@code {
    private bool IsLoading { get; set; } = true;
    private List<Password> Passwords { get; set; } = new();

    /// <inheritdoc />
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadAliasFromDbAsync();
        }
    }

    private async Task LoadAliasFromDbAsync()
    {
        IsLoading = true;
        StateHasChanged();

        var db = AliasClientDbService.GetDbContext();

        // Insert row in database
        db.Passwords.Add(new Password() { Id = Guid.NewGuid(), Value = "Test factory insert SQLite", CreatedAt = DateTime.Now });

        // Save changes
        await db.SaveChangesAsync();

        // Load all passwords from the database
        var passwords = await db.Passwords.ToListAsync();

        // Show them on page

        Passwords = passwords;
        IsLoading = false;
        StateHasChanged();
    }

    private async Task LoadDbFromString()
    {
        await AliasClientDbService.LoadFromEncryptedString();

        // Reload the passwords
        await LoadAliasFromDbAsync();
    }

    private async Task ExportDbToString()
    {
        var exportString = await AliasClientDbService.SaveDatabaseAsync();
        Console.WriteLine(exportString);
    }

    private async Task SaveDb()
    {
        await AliasClientDbService.GetDbContext().SaveChangesAsync();
    }
}
