# Top-most EditorConfig file
root = true

# All files
[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

# C# files
[*.cs]
csharp_indent_labels = one_less_than_current
csharp_prefer_simple_using_statement = true:suggestion
csharp_prefer_braces = true:silent
csharp_style_namespace_declarations = block_scoped:silent
csharp_style_prefer_method_group_conversion = true:silent
csharp_style_prefer_top_level_statements = true:silent
csharp_style_prefer_primary_constructors = true:suggestion
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = true:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_accessors = true:silent
csharp_style_expression_bodied_lambdas = true:silent
csharp_style_expression_bodied_local_functions = false:silent

# Razor files
[*.razor]
indent_style = space
indent_size = 4

# CSS files
[*.css]
indent_style = space
indent_size = 4

# HTML files
[*.html]
indent_style = space
indent_size = 4

# JSON files
[*.json]
indent_style = space
indent_size = 4

# JavaScript files
[*.js]
indent_style = space
indent_size = 4

# TypeScript files
[*.ts]
indent_style = space
indent_size = 4

# XML files
[*.xml]
indent_style = space
indent_size = 4
