@page "/"
@inherits MainBase

<LayoutPageTitle>Home</LayoutPageTitle>

<div class="grid grid-cols-1 px-4 pt-6 xl:grid-cols-3 xl:gap-4 dark:bg-gray-900">
    <div class="mb-4 col-span-full xl:mb-2">
        <Breadcrumb BreadcrumbItems="BreadcrumbItems" />
        <div class="flex items-center justify-between">
            <H1>AliasVault Admin</H1>
        </div>
        <p>Welcome to the AliasVault admin portal.</p>
    </div>
</div>

