<div class="relative p-6 sm:p-8 bg-white dark:bg-gray-700 rounded-lg sm:shadow-xl max-w-md w-full mx-auto sm:max-w-lg md:max-w-xl">
    <div class="text-center">
        <h2 class="mt-4 text-xl font-semibold text-gray-900 dark:text-white">Vault merge error.</h2>
        <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">@Message Please try again (later) or contact support.</p>
    </div>
</div>

@code {
    /// <summary>
    /// The message to display.
    /// </summary>
    [Parameter]
    public string Message { get; set; } = string.Empty;
}
