@page "/account/manage"
@using System.ComponentModel.DataAnnotations
@using AliasVault.Admin2.Services
@using Microsoft.AspNetCore.Identity

@inject UserManager<AdminUser> UserManager
@inject SignInManager<AdminUser> SignInManager
@inject IdentityRedirectManager RedirectManager
@inject UserService UserService

<PageTitle>Profile</PageTitle>

<h3>Profile</h3>
<StatusMessage/>

<div class="row">
    <div class="col-md-6">
        <EditForm Model="Input" FormName="profile" OnValidSubmit="OnValidSubmitAsync">
            <DataAnnotationsValidator/>
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="form-floating mb-3">
                <input type="text" value="@username" class="form-control" placeholder="Please choose your username." disabled/>
                <label for="username" class="form-label">Username</label>
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number."/>
                <label for="phone-number" class="form-label">Phone number</label>
                <ValidationMessage For="() => Input.PhoneNumber" class="text-danger"/>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </EditForm>
    </div>
</div>

@code {
    private string? username;
    private string? phoneNumber;

    [SupplyParameterFromForm] private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        username = await UserManager.GetUserNameAsync(UserService.User());
        phoneNumber = await UserManager.GetPhoneNumberAsync(UserService.User());

        Input.PhoneNumber ??= phoneNumber;
    }

    private async Task OnValidSubmitAsync()
    {
        if (Input.PhoneNumber != phoneNumber)
        {
            var setPhoneResult = await UserManager.SetPhoneNumberAsync(UserService.User(), Input.PhoneNumber);
            if (!setPhoneResult.Succeeded)
            {
                // TODO: show error that phone number could not be set, use proper form validation?
                GlobalNotificationService.AddErrorMessage("Phone number could not be set", true);
            }
        }

        // await SignInManager.RefreshSignInAsync(UserService.User());
        GlobalNotificationService.AddSuccessMessage("Your profile has been updated", true);
    }

    private sealed class InputModel
    {
        [Phone]
        [Display(Name = "Phone number")]
        public string? PhoneNumber { get; set; }
    }

}
