@page "/user/forgot-password"
@attribute [AllowAnonymous]
@layout Auth.Layout.MainLayout
@inject Config Config

<h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-2">
    Lost password
</h2>
<div class="text-sm space-y-4 text-gray-500 dark:text-gray-400">
    <p>
        Unfortunately, if you've lost your password, there's no way to recover it. AliasVault employs end-to-end encryption for all your data, ensuring that nobody except you, can access your data.
    </p>
    <p>
        If you don't remember your password, you will need to create a new account. Please note that this will result in the loss of all your data.
    </p>
    <div>
        <h3 class="font-medium mb-2 text-gray-900 dark:text-white">Recently changed password</h3>
        @if (!string.IsNullOrEmpty(Config.SupportEmail))
        {
            <p>If you've recently changed your password and are experiencing difficulties signing in, please contact support at <a href="mailto:@Config.SupportEmail" class="text-blue-600 hover:underline">@Config.SupportEmail</a> for assistance.</p>
        }
        else
        {
            <p>If you've recently changed your password and are experiencing difficulties signing in with your new password, please note that the server administrator may be able to recover an earlier backup of your vault to assist you.
            If this is the case, please contact the server administrator.</p>
        }
    </div>
</div>
