<a href="/">
    <div class="text-5xl font-bold text-gray-900 dark:text-white mb-4 flex items-center">
        <img src="img/logo.svg" alt="AliasVault" class="w-20 h-20 mr-2" />
        <span class="relative inline-flex flex-wrap items-center">
            AliasVault
            <span class="ml-2 bg-primary-500 text-white text-xs px-2 py-0.5 rounded-full font-normal sm:-top-2 sm:ml-1">BETA</span>
        </span>
    </div>
</a>
