<a href="/">
    <div class="text-5xl font-bold text-gray-900 dark:text-white mb-4 flex items-center">
        <img src="img/logo.svg" alt="AliasVault" class="w-20 h-20 mr-2" />
        <span>AliasVault</span>
    </div>
</a>


