@inject IStringLocalizerFactory LocalizerFactory
@using Microsoft.Extensions.Localization
@using AliasVault.Client.Resources

<div class="relative p-6 sm:p-8 bg-white dark:bg-gray-700 rounded-lg sm:shadow-xl max-w-md w-full mx-auto">
    <div class="text-center">
        <h2 class="mt-4 text-xl font-semibold text-gray-900 dark:text-white">@Localizer["ErrorTitle"]</h2>
        <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">@Localizer["ErrorDescription"]</p>
    </div>
</div>

@code {
    private IStringLocalizer Localizer => LocalizerFactory.Create("Pages.Main.Sync.StatusMessages.ErrorVaultDecrypt", "AliasVault.Client");
}
