@using Microsoft.IdentityModel.Tokens
@inherits ComponentBase

@if (Message.IsNullOrEmpty())
{
    return;
}

<div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
    <span class="material-symbols-rounded align-middle me-2">error</span>
    <div>
        @Message
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

@code {
    [Parameter]
    public string Message { get; set; } = string.Empty;
}