@using AliasVault.Admin.Models
@inherits ComponentBase

@if (BreadcrumbItems.Any())
{
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">
            @foreach (var item in BreadcrumbItems)
            {
                @if (item != BreadcrumbItems.Last())
                {
                    <span><a href="@item.Url">@item.DisplayName</a></span><text> / </text>
                }
            }
        </span>
        @BreadcrumbItems.Last().DisplayName
    </h4>
}

@code {
    [Parameter]
    public List<BreadcrumbItem> BreadcrumbItems { get; set; } = new List<BreadcrumbItem>();
}
