@using Microsoft.IdentityModel.Tokens
@inherits ComponentBase

@if (Message.IsNullOrEmpty())
{
    return;
}

<div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 border-2" role="alert">
    @Message
</div>

@code {
    /// <summary>
    /// The message to show.
    /// </summary>
    [Parameter]
    public string Message { get; set; } = string.Empty;
}
