@using AliasVault.ImportExport.Models
@using AliasVault.ImportExport.Importers
@using Microsoft.Extensions.Localization
@using AliasVault.Client.Resources
@inject NavigationManager NavigationManager
@inject GlobalNotificationService GlobalNotificationService
@inject IStringLocalizerFactory LocalizerFactory
@inject ILogger<ImportServiceChrome> Logger

<ImportServiceCard
    ServiceName="Chrome"
    Description="@Localizer["ChromeDescription"]"
    LogoUrl="img/importers/chrome.svg"
    ProcessFileCallback="ProcessFile">
    <p class="text-gray-700 dark:text-gray-300 mb-4">@Localizer["ChromeInstructionsPart1"]</p>
    <p class="text-gray-700 dark:text-gray-300 mb-4">@Localizer["ChromeInstructionsPart2"]</p>
</ImportServiceCard>

@code {
    private IStringLocalizer Localizer => LocalizerFactory.Create("Components.Main.Settings.ImportExport.ImportServices", "AliasVault.Client");

    private static async Task<List<ImportedCredential>> ProcessFile(string fileContents)
    {
        return await ChromeImporter.ImportFromCsvAsync(fileContents);
    }
}
