@using AliasDb
@inject NavigationManager NavigationManager

<div @onclick="ShowDetails" class="p-4 space-y-2 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700
 dark:bg-gray-800 cursor-pointer hover:bg-gray-200 dark:hover:bg-gray-700 transition-colors duration-200">
    <div class="px-4 py-2 text-gray-400 rounded text-center flex flex-col items-center">
        <DisplayFavicon faviconBytes="null"></DisplayFavicon>
        <div>Servicename</div>
        <div>01-01-2000</div>
    </div>
</div>




<!--
<div class="col">
    <div class="card mb-3" @onclick="ShowDetails">
        <div class="card-body">
            <div class="card-text text-center">
                <DisplayFavicon faviconBytes="@Login.Service.Logo"></DisplayFavicon>
                <div>@Login.Service.Name</div>
                <div><small class="text-muted">@Login.CreatedAt.ToShortDateString()</small></div>
            </div>
        </div>
    </div>
</div>
    -->

@code {
    [Parameter] public Login Login { get; set; } = new Login();
    private bool showModal = false;

    private void ShowDetails()
    {
        // Redirect to view page instead for now.
        NavigationManager.NavigateTo($"/alias/{Guid.NewGuid()}");
        //showModal = true;
    }

    private void CloseDetails()
    {
        showModal = false;
    }

}
