@inherits ComponentBase

@if (Message == string.Empty)
{
    return;
}

<div class="p-4 mb-4 text-sm text-amber-700 rounded-lg bg-amber-50 dark:bg-slate-800 dark:text-amber-300 border border-amber-200 dark:border-amber-800" role="alert">
    @Message
</div>

@code {
    /// <summary>
    /// The message to show.
    /// </summary>
    [Parameter]
    public string Message { get; set; } = string.Empty;
}
