@using AliasVault.Shared.Core
<footer class="md:flex md:items-center md:justify-between px-4 2xl:px-0 py-6 md:py-10">
    <p class="text-sm text-center text-gray-500 mb-4 lg:mb-0">
        © 2024 <span>@AppInfo.ApplicationName v@(AppInfo.GetFullVersion())</span>. All rights reserved.
    </p>
    <ul class="flex flex-wrap items-center justify-center">
        <li><a href="https://github.com/aliasvault/aliasvault/blob/main/LICENSE.md" class="mr-4 text-sm font-normal text-gray-500 hover:underline md:mr-6 dark:text-gray-400">License</a></li>
        <li><a href="https://github.com/aliasvault/aliasvault" target="_blank" class="text-sm font-normal text-gray-500 hover:underline dark:text-gray-400">GitHub</a></li>
    </ul>
</footer>
