@page "/user/reset-password"
@attribute [IgnoreAntiforgeryToken]
@model ResetPasswordModel

@{
    ViewData["Title"] = "Reset password";
}

<partial name="_Logo" />
<h2 class="fw-bold mb-2 text-uppercase">Enter new password</h2>
<p class="text-white-50 mb-4">Enter a new password for your account.</p>

<form id="account" method="post" class=" z-index-1 position-relative needs-validation" novalidate="">
    <div data-mdb-input-init class="form-outline form-white mb-4">
        <label asp-for="Input.Password" class="form-label"></label>
        <input asp-for="Input.Password" class="form-control"></input>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

    <div data-mdb-input-init class="form-outline form-white mb-4">
        <label asp-for="Input.PasswordConfirm" class="form-label"></label>
        <input asp-for="Input.PasswordConfirm" class="form-control"></input>
        <span asp-validation-for="Input.PasswordConfirm" class="text-danger"></span>
    </div>

    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Change Password</button>
</form>

<div>
    <p class="mb-0">Remember your password? <a href="/user/login" class="text-white-50 fw-bold">Sign In</a>
    </p>
</div>
