@inherits ComponentBase

@if (Message == string.Empty)
{
    return;
}

<div class="p-4 mb-4 text-sm text-sky-700 rounded-lg bg-sky-50 dark:bg-slate-800 dark:text-sky-300 border border-sky-200 dark:border-sky-800" role="alert">
    @Message
</div>

@code {
    /// <summary>
    /// The message to show.
    /// </summary>
    [Parameter]
    public string Message { get; set; } = string.Empty;
}
