@using System.Timers

<div class="w-full max-w-md mx-auto">
    @if (isLoading)
    {
        <div class="absolute inset-0 flex justify-center items-center z-10">
            <div class="animate-spin rounded-full h-16 w-16 border-t-2 border-b-2 border-primary-500"></div>
        </div>
    }
    <div class="@(isLoading ? "invisible opacity-0" : "opacity-100") transition-opacity duration-300 w-full">
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg lg:shadow-none p-6">
            <h2 class="text-xl font-semibold text-gray-900 dark:text-white mb-4">Using AliasVault</h2>
            <p class="text-sm text-gray-600 dark:text-gray-400 mb-4">
                Please read and agree to the following terms and conditions before proceeding.
            </p>
            <div class="bg-gray-100 dark:bg-gray-700 rounded-lg p-4 mb-8 h-80 overflow-y-auto">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white mb-2">Terms and Conditions</h3>
                <p class="text-sm text-gray-600 dark:text-gray-400">
                    AliasVault is designed to enhance your online security and protect your privacy. With AliasVault, you can create unique identities and email aliases for your various online accounts, helping you maintain control over your personal information and reduce the risk of identity theft.
                    <br><br>
                    By using AliasVault, you agree to the following terms:
                    <br><br>
                    1. You will not use AliasVault for any illegal purposes, including but not limited to fraud, identity theft, or impersonating real individuals.
                    <br><br>
                    2. You are responsible for maintaining the confidentiality of your account and any aliases created through AliasVault.
                    <br><br>
                    3. AliasVault reserves the right to terminate your account if we suspect any misuse or violation of these terms.
                    <br><br>
                    4. You understand that while AliasVault enhances your privacy, no system is completely foolproof, and you use the service at your own risk.
                </p>
            </div>
            <div class="flex items-center">
                <input type="checkbox" id="agreeTerms" @bind="agreedToTerms" @bind:after="OnAgreedToTerms" class="mr-2">
                <label for="agreeTerms" class="text-sm font-bold text-gray-600 dark:text-gray-400">
                    I have read and agree to the Terms and Conditions
                </label>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<bool> OnAgreedToTermsChanged { get; set; }

    private bool isLoading = true;
    private Timer? loadingTimer;
    private bool agreedToTerms = false;

    protected override void OnInitialized()
    {
        loadingTimer = new Timer(300);
        loadingTimer.Elapsed += (sender, e) => FinishLoading();
        loadingTimer.AutoReset = false;
        loadingTimer.Start();
    }

    private void FinishLoading()
    {
        isLoading = false;
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        loadingTimer?.Dispose();
    }

    private async Task OnAgreedToTerms()
    {
        await OnAgreedToTermsChanged.InvokeAsync(agreedToTerms);
    }
}
