<div class="w-full max-w-md mx-auto">
    <p class="mt-12 text-gray-600 dark:text-gray-400 mb-4 text-center">
        AliasVault is a secure app which help you create and manage your online identities and passwords.
        Let's get you set up with your new vault.
    </p>
</div>

@code {
    /// <summary>
    /// The event that is triggered when the user clicks the next button.
    /// </summary>
    [Parameter]
    public EventCallback OnNext { get; set; }
}
