@using AliasVault.Admin.Services
@inject NavigationService NavigationService

<a href="@NavigationService.BaseUri">
    <div class="text-5xl font-bold text-gray-900 dark:text-white mb-4 flex items-center">
        <img src="img/logo.svg" alt="AliasVault" class="w-20 h-20 mr-2" />
        <span>AliasVault</span>
        <span class="ps-2 self-center hidden sm:flex text-lg font-bold whitespace-nowrap text-white bg-red-600 rounded-full px-2 py-1 ml-2">Admin</span>
    </div>
</a>