@inherits ComponentBase

@if (!string.IsNullOrEmpty(Message))
{
    <div class="p-4 mb-4 bg-red-50 dark:bg-red-900/20 text-red-800 dark:text-red-200 rounded-lg">
        @Message
    </div>
}

@code {
    /// <summary>
    /// Gets or sets the message to display.
    /// </summary>
    [Parameter]
    public string? Message { get; set; }
}
